# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js build output
/.next/
/out/
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment variables
.env
.env*.local
.env.production.local
.env.development.local
.env.test.local

# IDE & system
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/
.agents/
/.claude/
/agent/

# typescript cache
*.tsbuildinfo

*.log